
body
{
	background-color: white;
	margin-top: -45px;
	margin-left: -22px;
	margin-right: -22px;
}

header
{
	text-align: center;
	font-size: 2em;
}

h2
{
	text-align: center;
	font-size: 2em;
}

code
{
	background-color: black;
	color: white;
	padding: 5px 15px;
	border-radius: .8em .8em .8em .8em;
	font-weight: bold;
}

dt
{
	display: inline;
}

li
{
	line-height: 2em;
}

#article1
{
	background-color: blue;
	color: white;
}

#article2
{
	background-color: green;
	color: white;
	margin-top: -28px;
}

#article3
{
	background-color: red;
	color: white;
	margin-top: -28px;
}
